*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
!app/build/outputs/apk/debug/app-debug.apk
app/build/*
/captures
.externalNativeBuild
.cxx
local.properties
